.b-about {
  background-color: rgb(243, 243, 243);
  padding-bottom: 60px;
&__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 120px;
}
&__h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #686868;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 90px;
}
&__h5 {
  color: #000000;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
&__p {
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 20px;
}
&__card-office{
  padding: 0px 30px 0px 30px;
  background-color: rgb(194, 194, 194);
  flex: 1;
  position: relative;
  min-width: auto;
  min-height: 260px;
}
&__img-office{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 120%;
  width: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
}