@import "./mixins.scss";
.b-contacts {
  &__sponsor {
  text-align: center;
  padding: 100px 0 120px 0;
  position: relative;
  }
  &__all {
    background: url("img/tree.jpg") rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 130px 0px 90px;
    @include md {
      padding: 130px 100px 90px;
    }
    @include sm {
    padding: 121px 0px 110px;
    }
  }
  &__p {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color:rgb(187, 187, 187);
  }
  &__btn-message {
    background: rgb(132, 244, 248);
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: 0;
    @include md {
      width: 42%;
    }
    @include sm {
    width: 100%;
    }
  }
  &__map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  &__card {
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 30px;
    margin-bottom: 20px;
  }
  &__input {
    background-color: rgba($color: #000000, $alpha: 0);
    border-bottom: 1px solid rgb(187, 187, 187);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
    width: 100%;

    &::placeholder {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color:rgb(187, 187, 187);
    display: inline;
  }
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}