@import "./mixins.scss";
.slick-dots {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  padding: 0;
  button {
  box-sizing: content-box;
  height: 7px;
  width: 7px;
  cursor: pointer;
  background-color: rgb(27, 27, 27);
  opacity: .4;
  border-radius: 40%;
  margin: 0 5px 0 5px;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
}
}
.slick-slide-control00 .slick-slide-control01 {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  position: relative;
  text-indent: 100%;
  list-style: none;
}
.slick-prev {
  position: relative;
  right: 70px;
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url("img/str.png");
    background-repeat: no-repeat;
    background-position:center;
    transform: rotate(180deg);
  }
}
.slick-arrow {
  background-color:white;
  margin: 10px 0 10px 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  border: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 100%;
  padding: 0;
  position: absolute;
  bottom: -78px;  
  right: 280px;
  @include md {
    bottom: -78px;  
    right: 70px;
  }
  &:hover {
    background-color:rgb(149, 255, 255);
  }
}
.slick-next {
  background-image: url("img/str.png");
  background-repeat: no-repeat;
  background-position: center;
  right: 0px; 
  
}
.slider-card {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.slick-dots .slick-active 
button { 
  background:aqua;
 }