@import "./mixins.scss";
.b-say{
  .slick-dots {
  position: absolute;
  width: 88.6%;
  height: auto;
  @include md {
    width: 41.6%;
  }
  @include sm {
    width: 32.6%;
  }
}
  background-color:rgb(231, 231, 231);
  padding-bottom: 215px;
  text-align: center;
  position: relative;
  margin-top: 55px;
  &__h5 {
    font-family: Merriweather;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    display: inline;
  }
  &__h4 {
  font-family: "Merriweather";
  font-size: 20px;
  display: inline;
  }
  &__p {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  }
  &__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    padding: 10px;
  }
  &__card-avatar {
    padding: 0px 30px 0px 30px;
    background-color: rgb(194, 194, 194);
    flex: 1;
    position: relative;
    min-width: auto;
    min-height: 150px;
    }
  &__card-description {
    padding: 30px;
    background-color: rgb(194, 194, 194);
    @include md {
      padding: 125px;
    }
    @include sm {
      padding: 72px;
    }
  }
  &__img-avatar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 120%;
    width: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    min-width: auto;
    min-height: 150px;
  }
  &__stars {
    position: absolute;
    right: 35%;
    @include md {
      right: 45%;
    }
    @include sm {
      right: 37%;
    }
  }
}
.say-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}