@import "./mixins.scss";
.b-services {
  background-color: rgb(246, 246, 246);
  padding: 0;
  @include md {
    padding: 85px 80px 130px 80px;
    margin-top: 46px;
  }
  @include sm {
  padding: 0px 0px 130px 0px;
  }
}