@import "./mixins.scss";
.b-team-card {
  background-color: aqua;
  position: absolute; 
  z-index: 1;
  opacity: 0;
  max-width: 250px;
  max-height: 250px;
  padding: 20px;
  ::before {
    content: '';
    left: 0; top: -30px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent aqua;
    position: absolute;
  }
  &__p {
    font-family: Raleway;
    font-size: 13px;
    line-height: 20px;
  }
  &__h5 {
    font-family: Merriweather;
    font-size: 15px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    display: inline;
  }
  &__h4 {
    font-family: "Merriweather - Bold";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: inline;
  }
  &__member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  &__member:hover .b-team-card {
    opacity: 1;
   }
}

.row{
  margin-bottom: 5px;
}